#helloes {
    background-color: bisque;
    color: rgb(70, 148, 216);
    font-family: 'Lumanosimo', cursive;
    width: 50%;
    padding: 15px;
    border: 5px black solid;
    margin: 10px;
}






#training {
    color: #22bfc2;
    background-color: darkorchid;
    padding: 5px;
    width: 50%;
    font-family: 'Kablammo', cursive;
    /* font-family: 'Lumanosimo', cursive; */
    /* font-family: 'Tilt Prism', cursive; */
    /* font-family: 'Tulpen One', cursive; */
    ;
}


/* font-family: 'Franklin Gothic Medium', */
/* 'Arial Narrow', */
/* Arial, */
/* sans-serif; */
/* font-family: 'Lumanosimo', cursive; */
/* font-family: 'Tulpen One', cursive; */